<p style="text-align: center">
  Today's Gallery
</p>
<div class="modal fade" id="selectedImageModal" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <div id="modalImage" class="selectedImage" *ngIf="selectedImage">

            <div class="btn-back" (click)=navigate(false)>
                <img id="btn" src="../../assets/img/leftArrowBtn.png">
             </div>
             <div class="btn-forward" (click)=navigate(true)>
              <img id="btn" src="../../assets/img/rightArrowBtn.png">
            </div>

            <img src="{{selectedImage.url}}">
            <div class="caption">
               <p><strong id="selectedTitle">{{selectedImage.title}}</strong></p>
               <p id="selectedCaption">{{selectedImage.caption}}</p>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>
  <ul id="thumbnailsList">
     <li *ngFor="let image of datasource; let i = index" >
      <img id="thumbImage_{{i}}" src="{{image.url}}"
      class="tn"
      width="191"
      height="146"
      data-toggle="modal"
      data-target="#selectedImageModal"
      (click)=setSelectedImage(image)>
     </li>
  </ul>
